		#headline
		{
			text-align:center;
			font-family:times new roman;
			font-size:50px;
		}.img-responsive {
    width: auto;
    height: 260px;
}
		nav
		{
			margin-left:-40px;
		}
		ul
		{
			display:flex;
			flex-wrap:wrap;
		}
		li
		{
			list-style-type:none;
			flex:1;
			padding:10px;
			text-align:center;
			justify-content:space-between;
			font-family:times new roman;
			font-size:25px;
			display:inline;
		}
		#a1
		{
			color:black;
			text-decoration:none;
		}
		#a1:hover
		{
			
			text-decoration:overline ;
		}
		#borderimage
		{
			border-radius:20px;
		}
